sphinx
sphinx-rtd-theme
pydata-sphinx-theme
sphinx-autodoc-typehints
nbsphinx
ipython
jupytext
jupyter
matplotlib
numpy
xarray
setuptools
pandas
pyproj
proj==6.2.1
GOES
shapely
pyshp
cartopy==0.19.0.post1
